/*SITE SETUP*/
html{
    scroll-behavior: smooth;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

img {
    width: 100%;
}

:root{
--color-dark-blue:#152040; /* darkblue */
--color-blue:#0588A6; /* blue */
--color-beige-white:#FFF9ED;/* white */
--color-light-blue:#07C4D9; /* aqua */
--color-yellow:#FDAF2B; /* yellow */
--color-light-yellow:#FFE69B; /* light yellow */
--color-red-1:#D14242; /* red */
}



/* FONTS */
@font-face {
    font-family: MoonGet;
    src: url(fonts/moon_get-Heavy.ttf)
}   

@font-face {
    font-family: Neue;
    src: url(fonts/NeueHaasUnica/NeueHaasUnica-Bold.ttf)
}   

@font-face{
    font-family: BuiltTitling;
    src: url(fonts/BuiltTitling/built\ titling\ bd.ttf)
}


/*GAME STYLES*/

.game-board{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 22px;
    gap: 30px;
    margin: 25px;

}

.game-prompt{
    display: flex;
    width: 600px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    align-items:center;
    text-align: center;

    gap:10px;
}

.game-prompt-grp{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.game-level-text{
    color: #FDAF2B;
    text-align: center;
    font-family: Neue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    width: 400px;
}

.level-prompt{
    color: #FDAF2B;
    text-align: center;
    font-family: Neue;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    width: auto;
}

.game-timer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;

}

.game-timer-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.game-level-time-logo{
    height: 20px;
    width: auto;
}

.game-level-time{
    color: #FDAF2B;
    text-align: center;
    font-family: MoonGet;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.game-level-score{
    color: #FDAF2B;
    text-align: center;
    font-family: MoonGet;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.game-btn-grp{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.btn-grp{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    border-radius: 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: solid 2px #FDAF2B;
    cursor: pointer;
    overflow: hidden;
    outline: none;

}

.game-btn-img{
    width: 150px;
}

/* CSS for fade-out and fade-in effects */
.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 1s ease-in;
}


/*MEDIA QUERIES*/

@media only screen and (max-width: 768px){


    }
    
    @media only screen and (max-width: 428px){

        .game-board{
            max-width: 100%;
            width: 90%;
        }

        .game-prompt{
            max-width: 100%;
            width: 90%;
            gap: 20px;
        }

        .game-level-text{
            font-size: 16px;
            text-align: justify;
        }
    
        .game-level-title{
            font-size: 20px
        }

        .game-level-time-logo{
            height: 15px;
            width: auto;
        }
    
        .game-level-time{
            font-size: 14px;
        }
    
        .game-level-score{
            font-size: 14px;
        }

        .game-btn-grp{
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
        
        .btn-grp{
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 10px;
            border-radius: 20px;
        }
        
        .game-btn-img{
            width: 100px;
        }
    }